.remirror-editor-wrapper {
  padding-top: 0 !important;
}

.remirror-theme .ProseMirror {
  --rmr-color-background: #191a1b;
  --rmr-color-text: #dfdad4;
  --rmr-color-border: rgba(142, 131, 115, 0.25);
  --rmr-font-family-default: 'Roboto', 'Helvetica Neue', sans-serif;
  box-shadow: none !important;
  padding: var(--rmr-space-1) !important
}