@use 'src/styles/variables.scss';

.fillable-icon {
  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    position: relative;

    // Icon with stroke, but goes both outside and inside
    &_border {
      z-index: -1;
      position: absolute;
      -webkit-text-stroke: 0.4vh black;
      // text-shadow: 0.2vh 0.2vh black, -0.2vh -0.2vh black, 0.2vh -0.2vh black, -0.2vh 0.2vh black, 0.2vh 0 0 black,
      //   0 0.2vh 0 black, 0 -0.2vh 0 black, -0.2vh 0 0 black;
      color: black;
    }

    // Icon without border to hide inside part of borderstroke
    &_overlay {
      overflow: visible;
      color: variables.$gray_normal;
    }

    // Icon to fill
    &_filler {
      position: absolute;
      overflow: hidden;
      height: 100%;
      color: variables.$primary_light;

      & > i {
        position: absolute;
      }
    }
  }
}
