always-auth=true
strict-ssl=false
@degrens-21:registry=https://gitlab.pieter557.dscloud.me/api/v4/packages/npm/
//gitlab.pieter557.dscloud.me/api/v4/packages/npm/:_authToken=26GouFL_9Trcqs_z2v3o
//gitlab.pieter557.dscloud.me/api/v4/projects/34/packages/npm/:_authToken=26GouFL_9Trcqs_z2v3o
auto-install-peers=true