.racing {
  &-start {
    &-container {
      height: 100vh;
      justify-content: center;
    }

    &-circle {
      border-radius: 50%;
      background-color: #cfcfcf80;
      width: 15vh;
      height: 15vh;
      display: flex;
      justify-content: center;
      align-items: center;

      & p {
        font-family: 'Pricedown Bl', sans-serif;
        font-size: 3.5rem;
        text-shadow:
          2px 0 0 #000,
          -2px 0 0 #000,
          0 2px 0 #000,
          0 -2px 0 #000,
          1px 1px #000,
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000;
      }
    }
  }

  &-timer {
    &-container {
      width: 25vh;
      position: absolute;
      left: 2vh;
      bottom: 30vh;
      padding: 1vh;
      border-radius: 0.5rem;
      background-color: #20202080;
      color: #fff;
    }

    &-text {
      display: flex;
      justify-content: space-between;
      line-height: 1.1;
    }

    &-title {
      font-size: 1.1rem;
    }

    &-additional {
      font-size: 0.9rem;
    }
  }
}
