:root {
  --background-contrast: 98%;
  --background-blur: 3px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Lato');

* {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #000000;
  width: 100vw;
  height: 100vh;
}

.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.blur {
  -webkit-filter: blur(var(--background-blur)) contrast(var(--background-contrast));
  filter: blur(var(--background-blur)) contrast(var(--background-contrast));
}

.logo {
  width: 223px;
  height: 111px;
}

#container {
  text-shadow: 2px 2px 5px #424242;
  position: absolute;
  color: rgb(241, 235, 235);
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 75px;
  text-align: center;
}

#bg > .video-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 20%, rgba(232, 84, 118, 0.2) 100%)
}

#bg > video {
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}