:root {
  --background-contrast: 95%;
  --background-blur: 3px;
  --loadbar-color: #ffffff5b;
  --loadbar-progress-color: #692635;
  --loadbar-height: 10px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Lato');

* {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #2f3640;
  width: 100vw;
  height: 100vh;
}

.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.blur {
  -webkit-filter: blur(var(--background-blur)) contrast(var(--background-contrast));
  filter: blur(var(--background-blur)) contrast(var(--background-contrast));
}

.logo {
  width: 223px;
  height: 111px;
}

.loadbar {
  display: block;
  position: absolute;
  bottom: .25vh;
  width: 99.5vw;
  height: var(--loadbar-height);
  margin-left: .25vw;
  border-radius: 3px;
  background-color: var(--loadbar-color);
  overflow: hidden;
  text-align: center;
}

.yeet {
  position: absolute;
  width: 0%;
  left: 0%;
  height: var(--loadbar-height);
  border-radius: 3px;
  transition: 500ms;
  background-color: var(--loadbar-progress-color);
  background-size: 30px 30px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  -webkit-animation: animate-stripes 3s linear infinite;
  animation: animate-stripes 3s linear infinite;
}

#container {
  text-shadow: 2px 2px 5px #424242;
  position: absolute;
  color: rgb(241, 235, 235);
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 75px;
  text-align: center;
}

#bg {
  position: relative;
  width: 150%;
  height: auto;
  right: 0vw
}

#bg>img {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 60px 0;
  }

}