:root {
  --background-contrast: 98%;
  --background-blur: 3px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Lato');

* {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #000000;
  width: 100vw;
  height: 100vh;
}

.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.blur {
  -webkit-filter: blur(var(--background-blur)) contrast(var(--background-contrast));
  filter: blur(var(--background-blur)) contrast(var(--background-contrast));
}

#container {
  position: absolute;
  top: 10vh;
  left: 90%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#inner_logo_container {
  position: absolute;
  overflow: hidden;
  top: 13vh;
  left: 0;
}

.logo {
  width: 24vh;
  height: 13vh;
  transition: top 0.25s ease-in-out;
}

#logo_fg {
  position: absolute;
  /* crop foutje */
  left: 1;
  top: -13vh;
}

#bg > .video-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 30%, rgba(232, 84, 118, 0.2) 80%),
    linear-gradient(0deg, rgba(0, 0, 0, 0) 85%, rgba(232, 84, 118, 0.3) 100%),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 85%, rgba(232, 84, 118, 0.3) 100%);
}

#bg > video {
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}
