@font-face {
  font-family: 'Hurme Geometric Sans 3';
  src: url('../assets/fonts/HurmeGeometricSans3-Black.woff2') format('woff2');
  src: local('HurmeGeometricSans3 Black'), local('HurmeGeometricSans3-Black'),
    url('../assets/fonts/HurmeGeometricSans3-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hurme Geometric Sans 3';
  src: url('../assets/fonts/HurmeGeometricSans3-HairlineObl.woff2') format('woff2');
  src: local('HurmeGeometricSans3 HairlineOblique'), local('HurmeGeometricSans3-HairlineObl'),
    url('../assets/fonts/HurmeGeometricSans3-HairlineObl.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Hurme Geometric Sans 3';
  src: url('../assets/fonts/HurmeGeometricSans3-Light.woff2') format('woff2');
  src: local('HurmeGeometricSans3 Light'), local('HurmeGeometricSans3-Light'),
    url('../assets/fonts/HurmeGeometricSans3-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hurme Geometric Sans 3';
  src: url('../assets/fonts/HurmeGeometricSans3-Hairline.woff2') format('woff2');
  src: local('HurmeGeometricSans3 Hairline'), local('HurmeGeometricSans3-Hairline'),
    url('../assets/fonts/HurmeGeometricSans3-Hairline.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hurme Geometric Sans 3';
  src: url('../assets/fonts/HurmeGeometricSans3-BlackObl.woff2') format('woff2');
  src: local('HurmeGeometricSans3 BlackOblique'), local('HurmeGeometricSans3-BlackObl'),
    url('../assets/fonts/HurmeGeometricSans3-BlackObl.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Hurme Geometric Sans 3';
  src: url('../assets/fonts/HurmeGeometricSans3-LightObl.woff2') format('woff2');
  src: local('HurmeGeometricSans3 LightOblique'), local('HurmeGeometricSans3-LightObl'),
    url('../assets/fonts/HurmeGeometricSans3-LightObl.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Hurme Geometric Sans 3';
  src: url('../assets/fonts/HurmeGeometricSans3-Bold.woff2') format('woff2');
  src: local('HurmeGeometricSans3 Bold'), local('HurmeGeometricSans3-Bold'),
    url('../assets/fonts/HurmeGeometricSans3-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hurme Geometric Sans 3';
  src: url('../assets/fonts/HurmeGeometricSans3-BoldObl.woff2') format('woff2');
  src: local('HurmeGeometricSans3 BoldOblique'), local('HurmeGeometricSans3-BoldObl'),
    url('../assets/fonts/HurmeGeometricSans3-BoldObl.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Hurme Geometric Sans 3';
  src: url('../assets/fonts/HurmeGeometricSans3-ThinObl.woff2') format('woff2');
  src: local('HurmeGeometricSans3 ThinOblique'), local('HurmeGeometricSans3-ThinObl'),
    url('../assets/fonts/HurmeGeometricSans3-ThinObl.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Hurme Geometric Sans 3';
  src: url('../assets/fonts/HurmeGeometricSans3-Regular.woff2') format('woff2');
  src: local('HurmeGeometricSans3 Regular'), local('HurmeGeometricSans3-Regular'),
    url('../assets/fonts/HurmeGeometricSans3-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hurme Geometric Sans 3';
  src: url('../assets/fonts/HurmeGeometricSans3-RegularObl.woff2') format('woff2');
  src: local('HurmeGeometricSans3 RegularOblique'), local('HurmeGeometricSans3-RegularObl'),
    url('../assets/fonts/HurmeGeometricSans3-RegularObl.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Hurme Geometric Sans 3';
  src: url('../assets/fonts/HurmeGeometricSans3-SemiBoldObl.woff2') format('woff2');
  src: local('HurmeGeometricSans3 SemiBoldOblique'), local('HurmeGeometricSans3-SemiBoldObl'),
    url('../assets/fonts/HurmeGeometricSans3-SemiBoldObl.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Hurme Geometric Sans 3';
  src: url('../assets/fonts/HurmeGeometricSans3-Thin.woff2') format('woff2');
  src: local('HurmeGeometricSans3 Thin'), local('HurmeGeometricSans3-Thin'),
    url('../assets/fonts/HurmeGeometricSans3-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hurme Geometric Sans 3';
  src: url('../assets/fonts/HurmeGeometricSans3-SemiBold.woff2') format('woff2');
  src: local('HurmeGeometricSans3 SemiBold'), local('HurmeGeometricSans3-SemiBold'),
    url('../assets/fonts/HurmeGeometricSans3-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

