$primary_darker: #232832;
$primary_dark: #3d4482;
$primary_normal: #767fcf;
$primary_light: #abb3ff;
$primary_lighter: #bbbed7;

$primary_darker_darker: #1b1e23;
$primary_darker_dark: #404654;
$primary_darker_normal: #646f84;
$primary_darker_light: #8796b3;
$primary_darker_lighter: #abbee2;

$secondary_darker: #664F1D;
$secondary_dark: #A6802E;
$secondary_normal: #E6B341;
$secondary_light: #FFCD61;
$secondary_lighter: #EACB88;

$tertiary_darker: #692635;
$tertiary_dark: #B5415C;
$tertiary_normal: #E85476;
$tertiary_light: #FF7595;
$tertiary_lighter: #EC9CAE;

$gray_darker: #020006;
$gray_dark: #424046;
$gray_normal: #828086;
$gray_light: #c8c6ca;
$gray_lighter: #fefaff;
