@use '../colors';

.accounts-list {
	display: block;
	height: calc(100% - 2.5rem);

	& > .v-spinner {
		font-size: 0.725rem !important;
		width: min-content;
		// center spinner
		margin: calc(75% - 2.5rem) auto auto;
	}

	& > .inner-list {
		display: flex;
		flex-direction: column;
		height: 100%;
		margin: 0 0.45rem;
	}
}

.account {
	margin: 0.225rem 0;
	border-radius: 0.25rem;
	border: 0.2vh solid #fff;
	padding: 0.45rem;
	background-color: colors.$gray-9;

	&:first-child {
		margin-top: 0.45rem;
	}

	& .paper-image {
		width: 3.5rem;
		height: 3.5rem;
		border-radius: 0.25rem;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: colors.$primary-2;
		background-color: transparent;
	}

	&--info {
		display: flex;
		flex-direction: column;
		margin-left: 0.45rem;

		&--name {
			font-size: 0.9rem;
		}

		&--id {
			font-size: 0.8rem;
		}

		&--balance {
			font-size: 1.125rem;
		}
	}

	&.selected {
		color: colors.$primary-4;
		border-color: colors.$primary-4 !important;

		& .paper-image {
			color: colors.$primary-9;
			background-color: colors.$primary-4;
		}
	}

	&:not(.selected):hover {
		color: colors.$primary-2;
		border-color: colors.$primary-2;

		& .paper-image {
			color: colors.$primary-9;
			background-color: colors.$primary-2;
		}
	}
}
