@use './colors';
@use 'src/styles/variables';

.laptop {
  &-shell {
    position: relative;
    background-color: black;
    border: 0.5vh solid #101010;
    border-radius: 0.25rem;
    height: 80vh;
    width: calc(100% - 30vh);
    background-size: contain;
    overflow: hidden;
    background-repeat: round;
  }

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75vh;
    border-radius: 0.25rem;
  }

  &-background {
    padding: 1vh;
    z-index: 1;

    & .icon {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 10vh;
      aspect-ratio: 1;
      text-align: center;

      & :first-child {
        cursor: pointer;
      }

      & :last-child {
        margin-top: 0.3vh;
      }
    }
  }

  &-content {
    height: 100%;
    z-index: 2;

    & > div {
      position: absolute;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
  }

  &-taskbar {
    &-wrapper {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 6vh;
      z-index: 1;
    }

    &-bar {
      width: min-content;

      border-radius: 0.5rem;
      padding: 1vh;
      margin: 0 auto;

      background: rgba(100, 100, 100, 0.3);
      backdrop-filter: blur(10px);
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-content: center;

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 7px, rgba(0, 0, 0, 0.25) 0px 4px 7px;
      }
    }
  }

  &-notifications {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 0;
    &-entry {
      min-height: 8vh;
      width: 20vw;
      padding: 1.5vh;
      margin-bottom: 1vh;
      margin-right: 1vh;

      display: flex;
      word-wrap: normal;
      border-radius: 1vh;

      background-color: rgba(120, 120, 120, 0.6);

      & > div:first-child {
        flex-basis: 20%;
        align-self: center;
      }

      & > div:last-child {
        flex-basis: 80%;
        & > p:first-child {
          text-transform: uppercase;
          font-weight: 700;
          color: #dcdcdc;
        }
        & > p:last-child {
          font-size: 1.3vh;
          color: #d3d3d3;
        }
      }
    }
  }

  &-appwindow {
    background-color: colors.$secondary;
    color: variables.$gray_light;

    & .topbar {
      height: 3vh;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 1vh;
      user-select: none;
      font-size: 1.3vh;
      cursor: move;

      & > div {
        cursor: auto;
      }

      & > div:last-child {
        cursor: pointer;
        font-size: 1.5vh;
      }
    }

    & .appcontainer {
      height: calc(100% - 3vh);
      width: 100%;
      background-color: colors.$primary;
    }
  }

  &-confirmmodal {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: colors.$primary;
    padding: 2vh;

    & > p {
      text-align: center;
      font-size: 1.8vh;
      color: variables.$gray_light;
      margin-bottom: 2vh;
      word-wrap: break-word;
    }

    & .buttons {
      width: 100%;
      margin-top: auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }

  // Make the div so big that whole laptop becomes unuseable to force an app to foreground ez
  &-important {
    position: absolute;
    top: -100vh;
    left: -100vw;
    height: 200vh;
    width: 200vw;
    z-index: -1;
  }
}
