.color-0 {
  color: #ffffff;
}

.color-1 {
  color: #ff4444;
}

.color-2 {
  color: #99cc00;
}

.color-3 {
  color: #ffbb33;
}

.color-4 {
  color: #0099cc;
}

.color-5 {
  color: #33b5e5;
}

.color-6 {
  color: #aa66cc;
}

.color-8 {
  color: #cc0000;
}

.color-9 {
  color: #cc0068;
}

.gameColor-w {
  color: #ffffff;
}

.gameColor-r {
  color: #ff4444;
}

.gameColor-g {
  color: #99cc00;
}

.gameColor-y {
  color: #ffbb33;
}

.gameColor-b {
  color: #33b5e5;
}

/* todo: more game colors */

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.no-grow {
  flex-grow: 0;
}

em {
  font-style: normal;
}

#app {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.chat-window {
  position: absolute;
  top: 1.5%;
  left: 0.8%;
  width: 28%;
  height: 22%;
  max-width: 1000px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-animation-duration: 2s;
}


.chat-messages {
  max-height: 100%;
  font-size: 1.4rem;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}


.chat-input {
  font-size: 0.9rem;
  position: absolute;
  top: 27vh;
  left: 15px;
  width: 28vw;
  box-sizing: border-box;
}

.chat-input > div.input {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
}

.chat-hide-state {
  text-transform: uppercase;
  margin-left: 0.05vw;
  font-size: 1.65vh;
}

textarea {
  font-family: sans-serif !important;
  font-size: 1.4rem;
  display: block;
  box-sizing: border-box;
  padding: 0.3vw;
  text-indent: .5vh;
  color: #ffffff;
  background-color: #2f3640b6;
  width: 100%;
  min-height: 3vh;
  max-height: 3vh;
  border: 1px solid #333b46;
  overflow: hidden;
  text-overflow: ellipsis;
  resize: none;
}

textarea:focus,
input:focus {
  outline: none;
}

.msg {
  display: inline-block !important;
  padding: 0.45vw;
  margin: 0.2vh 0.4vw;
  border-radius: .3vh;
  background-color: #263238d0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  width: fit-content;
  max-width: 100%;
  height: fit-content;
  max-height: 100%;
  overflow: hidden;
  word-break: break-word;
}

.suggestions {
  list-style-type: none;
  padding: 5px;
  padding-left: 27px;
  font-size: 0.9rem;
  box-sizing: border-box;
  color: white;
  /*background-color: #2f3640b6;*/
  background-color: rgba(52, 52, 52, 0.71);
  border: 1px solid #333b46;
  width: 100%;
}

.help {
  color: #b0bbbd;
}

.disabled {
  color: #b0bbbd;
}

.suggestion {
  margin-bottom: 0.5%;
}

.hidden {
  opacity: 0;
}

.hidden.animated {
  transition: opacity 1s;
}

.msg.advert {
  border-left: .4vw solid rgba(47, 92, 115, 0.8);
}

.msg.warning {
  border-left: .4vw solid rgba(255, 136, 0, 0.8);
}

.msg.normal {
  border-left: .4vw solid rgba(47, 114, 181, 0.9);
}

.msg.error {
  border-left: .4vw solid rgba(191, 36, 36, 0.9);
}

.msg.system {
  border-left: .4vw solid rgb(67, 57, 111);
}

.msg.emergency {
  border-left: .4vw solid rgba(224, 50, 50, 0.8);
}

.msg.nonemergency {
  border-left: .4vw solid rgba(112, 25, 25, 0.8);
}

.msg.report {
  border-left: .4vw solid rgba(86, 173, 10, 0.8);
}