.container {
  display: none;
}

.dot {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 0.18vh;
  width: 0.15vh;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 50px;
}
