$color_success: #4eae50;
$color_error: #ef4438;
$color_info: #2596ef;

.interaction {
  padding: 1vh 1.5vh;
  // width: 100%;
  // height: 100%;
  font-size: 1.1rem;
  font-weight: bold;
  border-right: .5vh solid #000;
  border-radius: 0.25rem;
  background-color: #1e2023;
  color: white;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    height: 100%;
  }

  // & .shadow {
  //   text-shadow: 0rem 0.05rem 0.1rem rgb(0 0 0),
  //   0.05rem 0rem 0.1rem rgb(0 0 0),
  //   0rem -0.05rem 0.1rem rgb(0 0 0),
  //   -0.05 rem 0rem 0.1rem rgb(0 0 0);
  // }

  &.info {
    border-right-color: $color_info;
    background-color: rgba($color_info, .16);
  }

  &.success {
    border-right-color: $color_success;
    background-color: rgba($color_success, .16);
  }

  &.error {
    border-right-color: $color_error;
    background-color: rgba($color_error, .16);
  }

  &__outer {
    width: fit-content;
    margin-left: -20vh;
    border-radius: .25rem;
    background-color: rgba(0,0,0,1);
  }
}
