@use 'src/styles/variables';

.contextmenu {
  &_scroll {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    pointer-events: none !important;

    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
  }

  &__wrapper {
    position: relative;
    margin: 25vh 0 40vh 65vw;
    min-width: 20vh;
    max-width: 35vh;
    display: inline-flex;
    flex-direction: column;
    pointer-events: auto;

    & .entry {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1vh;
      cursor: pointer;
      background-color: rgba(variables.$primary_darker_darker, 0.75);
      color: white;
      transition: border 0.1s ease-in-out;

      &:not(:last-child) {
        border-bottom: 0.1vh solid rgba(variables.$gray_light, 0.5);
      }

      &:hover {
        background-color: variables.$primary_darker_darker;
        border-bottom: 0.2vh solid white;
      }

      &.disabled {
        background-color: rgba(variables.$gray_normal, 0.9);
      }

      &:first-child {
        border-radius: 0.3rem 0.3rem 0 0;
      }
      &:last-child {
        border-radius: 0 0 0.3rem 0.3rem;
      }

      &.disabled {
        cursor: default;
      }

      & .icon {
        margin-right: 0.5vh;
        width: 2vh;
        aspect-ratio: 1;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    & .textWrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    & .title {
      font-size: 1rem;
    }

    & .description {
      padding-top: 0.5vh;
      font-size: 0.75rem;
    }
  }
}
