$gray-10: rgb(63.8, 60.74, 60.74);
$gray-9: rgb(84.2, 81.51, 81.51);
$gray-8: rgb(104.6, 102.93, 102.93);
$gray-7: rgb(125, 125, 125);
$gray-6: rgb(145.4, 145.4, 145.4);
$gray-5: rgb(165.8, 165.8, 165.8);
$gray-4: rgb(186.2, 186.2, 186.2);
$gray-3: rgb(206.6, 206.6, 206.6);
$gray-2: rgb(227, 227, 227);
$gray-1: rgb(247.4, 247.4, 247.4);

$primary-10: rgb(41.74, 46.66, 90.43);
$primary-9: rgb(58.43, 64.62, 119.57);
$primary-8: rgb(76.71, 83.99, 148.71);
$primary-7: rgb(96.56, 104.78, 177.86);
$primary-6: rgb(118, 127, 207);
$primary-5: rgb(141.02, 150.64, 236.14);
$primary-4: rgb(159.03, 168.71, 254.75);
$primary-3: rgb(187.75, 194.52, 254.75);
$primary-2: rgb(216.46, 220.33, 254.75);
$primary-1: rgb(245.17, 246.14, 254.75);

$secondary-10: rgb(96, 17.66, 35.65);
$secondary-9: rgb(130, 29.7, 52.74);
$secondary-8: rgb(164, 44.77, 72.16);
$secondary-7: rgb(198, 62.87, 93.91);
$secondary-6: rgb(232, 84, 118);
$secondary-5: rgb(254.75, 103.58, 138.31);
$secondary-4: rgb(254.75, 137.59, 164.51);
$secondary-3: rgb(254.75, 171.6, 190.7);
$secondary-2: rgb(254.75, 205.62, 216.9);
$secondary-1: rgb(254.75, 239.63, 243.1);

$tertiary-10: rgb(94, 67.31, 7.66);
$tertiary-9: rgb(128, 93.65, 16.86);
$tertiary-8: rgb(162, 121.04, 29.49);
$tertiary-7: rgb(196, 149.49, 45.53);
$tertiary-6: rgb(230, 179, 65);
$tertiary-5: rgb(254.75, 202.22, 84.8);
$tertiary-4: rgb(254.75, 214.04, 123.04);
$tertiary-3: rgb(254.75, 225.86, 161.28);
$tertiary-2: rgb(254.75, 237.67, 199.51);
$tertiary-1: rgb(254.75, 249.49, 237.75);
