@import '../base';

.gallery-app {
	display: flex;
	flex-direction: column;
	height: 100%;
	&--entry {
		margin-top: 0.5rem;
		border: 0.1vh solid $gray_lighter;
		padding: 0.25rem;
		border-radius: 0.5rem;
		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
