.info-app {
	display: flex;
	height: max-content;
	flex-direction: column;
	justify-content: center;
	margin-top: 3vh;
}

.info-app-entry {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 1rem;
	& > .info-app-icon {
		display: flex;
		justify-content: center;
		min-width: 3vw;
		margin-right: 0.1vw;
		& > i {
			font-size: 2.5rem;
		}
	}
	& > p {
		font-size: 1.2rem;
	}
}
