@use '../base' as *;

.yp-app {
	display: flex;
	flex-direction: column;
	align-items: center;
	&--entry {
		width: 95%;
		display: flex;
		flex-direction: column;
		background-color: #e2cf1c;
		color: $gray_dark;
		border: 0.1vh solid $gray_darker;
		text-align: center;
		&:not(:last-child) {
			margin-bottom: 1vh;
		}
		& > div:not(:last-child) {
			padding: 0.3vh 0.3vw;
			border-bottom: 0.1vh solid $gray_darker;
		}
		&--header {
			font-size: 1.1rem;
		}
		&--text {
			font-size: 0.9rem;
		}
		&--btns {
			text-align: left;
			display: flex;
			flex-direction: row;
			font-size: 0.8rem;
			& > div {
				width: 50%;
				display: flex;
				align-items: center;
				cursor: pointer;
				padding: 0.3vh 0.3vw;
				&:not(:last-child) {
					border-right: 0.1vh solid $gray_darker;
				}
				& > i {
					margin-right: 0.3vw;
				}
			}
		}
	}
}
