// Color variabels
$primary_darker: #232832;
$primary_dark: #3d4482;
$primary_normal: #767fcf;
$primary_light: #abb3ff;
$primary_lighter: #bbbed7;
$secondary_darker: #664f1d;
$secondary_dark: #a6802e;
$secondary_normal: #e6b341;
$secondary_light: #ffcd61;
$secondary_lighter: #eacb88;
$tertiary_darker: #692635;
$tertiary_dark: #b5415c;
$tertiary_normal: #e85476;
$tertiary_light: #ff7595;
$tertiary_lighter: #ec9cae;
$gray_darker: #191919;
$gray_dark: #4b4b4b;
$gray_normal: #7d7d7d;
$gray_light: #afafaf;
$gray_lighter: #e1e1e1;
