// Color variabels
$primary_darker: #232832;
$primary_dark: #3d4482;
$primary_normal: #767fcf;
$primary_light: #abb3ff;
$primary_lighter: #bbbed7;
$secondary_darker: #664f1d;
$secondary_dark: #a6802e;
$secondary_normal: #e6b341;
$secondary_light: #ffcd61;
$secondary_lighter: #eacb88;
$tertiary_darker: #692635;
$tertiary_dark: #b5415c;
$tertiary_normal: #e85476;
$tertiary_light: #ff7595;
$tertiary_lighter: #ec9cae;
$gray_darker: #191919;
$gray_dark: #4b4b4b;
$gray_normal: #7d7d7d;
$gray_light: #afafaf;
$gray_lighter: #e1e1e1;

$gray-10: rgb(63, 60, 60);
$gray-9: rgb(84, 81, 81);
$gray-8: rgb(104, 102, 102);
$gray-7: rgb(125, 125, 125);
$gray-6: rgb(145, 145, 145);
$gray-5: rgb(165, 165, 165);
$gray-4: rgb(186, 186, 186);
$gray-3: rgb(206, 206, 206);
$gray-2: rgb(227, 227, 227);
$gray-1: rgb(247, 247, 247);

$primary-10: rgb(41, 46, 90);
$primary-9: rgb(58, 64, 119);
$primary-8: rgb(76, 83, 148);
$primary-7: rgb(96, 104, 177);
$primary-6: rgb(118, 127, 207);
$primary-5: rgb(141, 150, 236);
$primary-4: rgb(159, 168, 254);
$primary-3: rgb(187, 194, 254);
$primary-2: rgb(216, 220, 254);
$primary-1: rgb(245, 246, 254);

$primary-darker-10: #090a0c;
$primary-darker-9: #1b1e23;
$primary-darker-8: #2d323c;
$primary-darker-7: #404654;
$primary-darker-6: #51596b;
$primary-darker-5: #646f84;
$primary-darker-4: #77839c;
$primary-darker-3: #8796b3;
$primary-darker-2: #99aacb;
$primary-darker-1: #abbee2;

$secondary-10: rgb(96, 17, 35);
$secondary-9: rgb(130, 29, 52);
$secondary-8: rgb(164, 44, 72);
$secondary-7: rgb(198, 62, 93);
$secondary-6: rgb(232, 84, 118);
$secondary-5: rgb(254, 103, 138);
$secondary-4: rgb(254, 137, 164);
$secondary-3: rgb(254, 171, 190);
$secondary-2: rgb(254, 205, 216);
$secondary-1: rgb(254, 239, 243);

$tertiary-10: rgb(94, 67, 7);
$tertiary-9: rgb(128, 93, 16);
$tertiary-8: rgb(162, 121, 29);
$tertiary-7: rgb(196, 149, 45);
$tertiary-6: rgb(230, 179, 65);
$tertiary-5: rgb(254, 202, 84);
$tertiary-4: rgb(254, 214, 123);
$tertiary-3: rgb(254, 225, 161);
$tertiary-2: rgb(254, 237, 199);
$tertiary-1: rgb(254, 249, 237);
