@use 'elementplus.scss';
@use 'reset';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

html,
body {
	font-family: 'Nunito Sans', sans-serif !important;
	font-size: 16px;
}

@media screen and (max-width: 1280px) {
	html,
	body {
		font-size: 12px;
	}
}

@media screen and (min-width: 2560px) {
	html {
		font-size: 24px;
	}
}

@media screen and (min-width: 4080px) {
	html {
		font-size: 48px;
	}
}

body::-webkit-scrollbar {
	display: none;
}
