@import 'reset';

html,
body {
	font-family: 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	&,
	#app {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
}

@media screen and (max-width: 1280px) {
	html,
	body {
		font-size: 12px;
	}
}

@media screen and (min-width: 2560px) {
	html {
		font-size: 24px;
	}
}

@media screen and (min-width: 4080px) {
	html {
		font-size: 48px;
	}
}

body::-webkit-scrollbar {
	display: none;
}

.text-primary_darker {
	color: $primary_darker;
}

.text-primary_dark {
	color: $primary_dark;
}

.text-primary_normal {
	color: $primary_normal;
}

.text-primary_light {
	color: $primary_light;
}

.text-primary_lighter {
	color: $primary_lighter;
}

.text-secondary_darker {
	color: $secondary_darker;
}

.text-secondary_dark {
	color: $secondary_dark;
}

.text-secondary_normal {
	color: $secondary_normal;
}

.text-secondary_light {
	color: $secondary_light;
}

.text-secondary_lighter {
	color: $secondary_lighter;
}

.text-tertiary_darker {
	color: $tertiary_darker;
}

.text-tertiary_dark {
	color: $tertiary_dark;
}

.text-tertiary_normal {
	color: $tertiary_normal;
}

.text-tertiary_light {
	color: $tertiary_light;
}

.text-tertiary_lighter {
	color: $tertiary_lighter;
}

.text-gray_darker {
	color: $gray_darker;
}

.text-gray_dark {
	color: $gray_dark;
}

.text-gray_normal {
	color: $gray_normal;
}

.text-gray_light {
	color: $gray_light;
}

.text-gray_lighter {
	color: $gray_lighter;
}
