.phone-list {
  display: flex;
  flex-direction: column;

  &--entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 0.1vh solid #e0e0e0;

    &--icon {
      width: 1.5rem;
      height: 1.75rem;
      text-align: center;
    }

    &--text {
      margin-left: 0.5rem;
      font-size: 1rem;
    }
  }
}
